{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/contact.css'%}">
    <script src="https://kit.fontawesome.com/071ff2c21e.js" crossorigin="anonymous"></script>
    <title>Contact Us</title>
</head>
<body>
    <br>
    <u><h1>Contact Us</h1></u><br><br>
    <div>
        <h5>Phone : <i class="fa-solid fa-phone"></i> 071-564432, 071-673882 </h5>
        <h5>Mobile : <i class="fa-solid fa-mobile"></i> +977-98736261278, +977-9827733921</h5>
        <h5>Email : <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSKkkHDdwHktTBJQtbfwgmddKhlfStmlWWBBkHNVdlhPJDdwxWNQNHTGRzqXJHbhpCSLJtMQ"><i class="fa-regular fa-envelope"></i> kmerchnepal1988@gmail.com</a></h5>
        <h5>Telegram :  <i class="fa-brands fa-telegram"></i> Kromium Nepal (+977-98736261278)</h5>
        <h5>Instagram : <i class="fa-brands fa-instagram"></i> kmerchnepal88</h5>
        <h5>Facebook : <a href="https://www.facebook.com/messages/t/102800121926336"><i class="fa-brands fa-facebook"></i> K-Merch Nepal Official</a></h5> <br>
        <a href="home" style="padding:10px 5%;">Return to homepage</button></a>
    </div>
</body>
</html>