{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Hello world</h1>
    <a href="Index"><img src="{%static 'images/Picture.jpg' %}" alt="Home" width="300"></a> <br>
    <form action="Index">
        <input type="submit" value="Index" style="font-size:20px;">
    </form>
</body>
</html>