{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K-uick Store</title>
    <link rel="stylesheet" href="{%static 'css/home.css'%}">
    <script src="https://kit.fontawesome.com/071ff2c21e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="Header">
        <div class="nav">
            <nav class="myNav">
                <img src="{%static 'images/logo.png' %}" class="logo">
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Login/Sign Up</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="#">My Cart<i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>