{%load static%}
{% static "images" as baseUrl%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/slider.css'%}">
    <script type="text/javascript" src="slider.js"></script>
</head>
<body>
    {%block content%}
    <h1>
        CSS Slider Animation
    </h1>
        <div id="slides" data-mouse-down-at="0" data-prev-percentage="0">
            {%for dest in dests%}

            {%if dest.offer%}
                <div class="slide">
                    <img class="slide" draggable="false" src="{{dest.img.url}}" >
                </div>
            {%endif%}

            {%endfor%}
        </div>
    {%endblock%}
</body>
</html>