<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/login.css'%}">
    <link rel = "icon" href = "https://i.pinimg.com/originals/41/87/16/4187161da25587f50704458a6a93c9df.jpg" type = "image/x-icon">

    <script src="https://kit.fontawesome.com/071ff2c21e.js" crossorigin="anonymous"></script>
    <title>Sign Up/Login</title>
</head>
<body>
    <div class="img">
        <a href="/"><img src="{%static 'images/logo.png'%}"></a>
        <div class="text">
           <br> Provides you the best K-products and <br>merchandises available online.
        </div>
    </div>
    <div class="Content">
        <div class="login">
            <a href="login">
                <div class="box">
                    <h1>Already have an Account?</h1><br>
                    <h2>Click Here</h2>
                </div></a>
            </div>
            <div class="login">
        <a href="register">
            <div class="box">
                <h1>Not a registered user?</h2><br>
                    <h2>Click Here</h2>
                </div></a>
            </div>
            <div class="button1">
        <button style="width:350px; height:50px;" onclick="window.location.href='/';">
            Return To HomePage</button>
        </div>
    </div>
    </body>
    </html>