<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <form action="Login" method="post">
        {% csrf_token %}
        <h1><label for="email">Email Address</label><br>
        <input type="email" name="Email" placeholder="Email"> <br>
        <label for="password1">Password</label><br>
        <input type="password" name="password1" placeholder="password"> <br>
        <input type="submit" value="Log In"></h1>
    </form>    
</body>
</html>