{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose your payment option</title>
    <link rel="stylesheet" href="{%static 'css/payment.css'%}">
    <link rel = "icon" href = "https://i.pinimg.com/originals/41/87/16/4187161da25587f50704458a6a93c9df.jpg" type = "image/x-icon">

</head>
<body>
    <div class="header">
        <b>Choose your payment method</b>
        <div class="box">
            
            <a href="https://esewa.com.np/#/home">
                <div class="logo">
                e-sewa <br>
                <img src="{%static 'images/esewa.png'%}">
            </div>
        </a>
            <a href="https://web.khalti.com/?csrt=3742936162357197896#/">
                <div class="logo">
                    Khalti<br>
                    <img src="{%static 'images/khalti.png'%}">
                </div>
            </a>
        </div>
    </div>
    <div class="homebutton">
        <a href="/">
            <div class="home">
                Return to Home
            </div>
        </a>
    </div>
</body>
</html>