{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/home.css'%}">
    <link rel="stylesheet" href="{%static 'css/product_detail.css'%}">
    <script src="https://kit.fontawesome.com/071ff2c21e.js" crossorigin="anonymous"></script>
</head>
<body>
    {% block content %}
    <div class="Header">
        <div class="nav">
            <nav class="myNav">
                <img src="{%static 'images/logo.png' %}" class="logo">
                <ul>
                    {% if user.is_authenticated %}
                    <li>Hello,{{user.first_name}}</li>
                    {% endif %}
                    <li><a href="/">Home</a></li>
                    <li><a href="/categories">Categories</a></li>
                    <li><a href="/product">Products</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/accounts/logout">Logout</a></li>
                    {% else %}
                    <li><a href="/accounts/LoginOrSignup">Login/Sign Up</a></li>
                    {% endif %}
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="#">My Cart<i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="block">
        <div class="gallery">
            <div class="content">
                <img src="{{data.img.url}}" height="300px">
                <div class="description">
                    <b><div class="name">{{data.name}}</div></b>
               <div class="price">Price : NRs.{{data.price}}</div>
                <div class="desc">({{data.desc}})</div>
                </div>
                {%if user.is_authenticated %}
                <div class="buy">
                       <a href="/paymentmethod">
                           <div class="buynow">Buy Now
                       </div></a>
                       <a href="#"><div class="buynow">
                           Add to cart <i class="fa-solid fa-cart-shopping"></i>
                       </div></a>
                    </div>
                    {% else %}
                    <div class="buy">
                        <a href="/accounts/LoginOrSignup"><div class="buynow">Buy Now
                        </div></a>
                        <a href="/accounts/LoginOrSignup"><div class="buynow">
                            Add to cart <i class="fa-solid fa-cart-shopping"></i>
                        </div></a>
                    </div>
                    {% endif %}
        </div>
    </div>
</div>
    {%endblock%}
</body>
</html>