{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy/Add to cart</title>
    <link rel="stylesheet" href="{%static 'css/home.css'%}">
    <link rel="stylesheet" href="{%static 'css/product_detail.css'%}">
    <link rel = "icon" href = "https://i.pinimg.com/originals/41/87/16/4187161da25587f50704458a6a93c9df.jpg" type = "image/x-icon">
    <script src="https://kit.fontawesome.com/071ff2c21e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    {% block content %}
    <div class="Header">
        <div class="nav">
            <nav class="myNav">
                <img src="{%static 'images/logo.png' %}" class="logo">
                <ul>
                    {% if user.is_authenticated %}
                    <li>Hello,{{user.first_name}}</li>
                    {% endif %}
                    <li><a href="/">Home</a></li>
                    <li><a href="/categories">Categories</a></li>
                    <li><a href="/product">Products</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/accounts/logout">Logout</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="#">My Cart<i class="fa-solid fa-cart-shopping"></i>(<span id="cart"></span>)</a></li>
                    {% else %}
                    <li><a href="/accounts/LoginOrSignup">Login/Sign Up</a></li>
                    <li><a href="/contact">Contact</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    <div class="block">
        <div class="gallery">
            <div class="content">
                <img src="{{data.img.url}}" height="300px">
                <div class="description">
                    <b><div class="name">{{data.name}}</div></b>
               <div class="price">Price : NRs.{{data.price}}</div>
                <div class="desc">({{data.desc}})</div>
                </div>
                {%if user.is_authenticated %}
                <div class="buy">
                       <a href="/paymentmethod">
                           <div class="buynow">Buy Now
                       </div></a>
                       <div class="product_cart" id="pr{{data.num}}"    >
                        <span id="divpr{{data.num}}">
                            <a href="#" value="{{data.num}}">
                                    <div class="buynow">
                                        Add to cart <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                </a>
                                </span>
                        </div >
                    </div>
                    {% else %}
                    <div class="buy">
                        <a href="/accounts/LoginOrSignup"><div class="buynow">Buy Now
                        </div></a>
                            <a href="/accounts/LoginOrSignup"><div class="buynow">
                                Add to cart <i class="fa-solid fa-cart-shopping"></i>
                            </div></a>
                    </div>
                    {% endif %}
        </div>
    </div>
</div>
<script src="{%static 'js/cart.js'%}"></script>
    
    {%endblock%}
    <!-- {%block js%}    
    <script>

        if (localStorage.getItem('cart')==null){
          var cart={};
        }
        else{
            cart=JSON.parse(localStorage.getItem('cart'));
       
            document.getElementById('cart').innerHTML = Object.keys(cart).length;
        }
    
        $('.product_cart').click(function(){
          console.log('clicked');
          var idstr= this.id.toString();
          console.log(idstr);
          if(cart[idstr]!=undefined){
            cart[idstr]+=1;
          }
          else{
            cart[idstr]=1;
          }
          console.log(cart);
          localStorage.setItem('cart',JSON.stringify(cart)); 
        });

      </script>
      {%endblock%} -->
</body>
</html>