{%load static%}
{% static "images" as baseUrl%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Products</title>
        <link rel="stylesheet" href="{%static 'css/home.css'%}">
        <link rel="stylesheet" href="{%static 'css/product.css'%}">
        <script src="https://kit.fontawesome.com/071ff2c21e.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% block content %}
        <div class="Header">
            <div class="nav">
                <nav class="myNav">
                    <img src="{%static 'images/logo.png' %}" class="logo">
                    <ul>
                        <li><a href="home">Home</a></li>
                        <li><a href="#">Categories</a></li>
                        <li><a href="product">Products</a></li>
                        <li><a href="accounts/LoginOrSignup">Login/Sign Up</a></li>
                        <li><a href="contact">Contact</a></li>
                        <li><a href="#">My Cart<i class="fa-solid fa-cart-shopping"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
<div class="services">
    <div class="container">
        {%for dest in dests%}
        <div class="gallery">
            <div name="content">

                <a target="_blank" href="{{dest.img.url}}">
                    <img src="{{dest.img.url}}" height="300px">
                    <div class="description"><b><div class="name">{{dest.name}}</div></b>
                    Price : NRs.{{dest.price}}<div class="desc">({{dest.desc}})</div>
                </div></a>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}
</body>
</html>