{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel = "icon" href = "https://i.pinimg.com/originals/41/87/16/4187161da25587f50704458a6a93c9df.jpg" type = "image/x-icon">
    <link rel="stylesheet" href="{%static 'css/register.css'%}">
</head>
<body>
    <!-- <div class="body"> -->
        <div class="box">
            <h1>New Account? Sign up now !!</h1>
            <div class="signin">
                or <a href="/accounts/login"><div class="login">Login</div></a> 
             </div>
            <div class="form">
                <form action="register" method="POST">
                    {% csrf_token %}
                    <div class="label">
                        <label for="First Name">First Name</label><br>
                        <input type="text" name="firstname" placeholder="First Name"> <br>
                    </div>
                    <div class="label">
                        <label for="Last Name">Last Name</label><br>
                    <input type="text" name="lastname" placeholder="Last Name"> <br>
                </div>
                <div class="label">
                    <label for="User Name">User Name</label><br>
                    <input type="text" name="username" placeholder="Username"> <br>
                </div>
                
                <div class="label">
                    <label for="email">Email Address</label><br>
                    <input type="email" name="email" placeholder="Email"> <br>
                </div>
                
                <div class="label">
                    <label for="password1">Password</label><br>
                    <input type="password" name="password1" placeholder="Password"> <br>
                </div>
                <div class="label">
                    <label for="password2">Confirm your password</label><br>
                    <input type="password" name="password2" placeholder="Re-enter your password"> <br><br>
                </div>
                <div class="submit">
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    <div class="message">
        {%for message in messages%}
        <h3>{{message}}</h3>
        {%endfor%}
    </div>
</div>
</body>
</html>