*{
    background-color: #badcee;
    font-family: sans-serif;
}
.img{
    width: 400px;
    margin-left: 30%;
    position: relative;
}
h1{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}
.body{
    /* padding-left: 3%; */
    position: relative;
    float: right;
    margin-top: 1%;
    margin-right: 30%;
}
/* .header{
    padding: 5% 5px;
} */

.content h5{
    font-size: 25px;
}
.content a{
    display: contents;
}