*{
    background-color: #badcee;
    font-family: sans-serif;
}
img{
    width: 400px;
    position: absolute;
}
h1{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}
.body{
    /* padding-left: 3%; */
    position: relative;
    float: right;
}
.header{
    padding: 5% 5px;
}

.content h5{
    font-size: 25px;
}
.content a{
    display: contents;
}