*{
    background-color: #badcee;
    font-family: sans-serif;
}
h1{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}
.body{
    padding-left: 10%;
    position: relative;
    float: right;
}
.header{
    padding: 10% 10px;
}

.content h5{
    font-size: 30px;
}

.content a{
    display: contents;
}